.footer {
    background: #456471;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.footer-h1 {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    /* justify-content: center; */
    font-family: "Julius Sans One", sans-serif;
    /* font-size: 2.7rem; */
    letter-spacing: 0.1em;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    padding: 1em;
  }

  .footer-anchor {
    display: flex;
    justify-content: space-between;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    padding: 1em;
    margin-top: 7px;
  }